.footer-basic {
  padding-top: 30px;
  background-color:rgb(28,26,26);
  color:#4b4c4d;
}

.footer-basic1{
  padding: 20px 0;
  background-color: white;
  color:#4b4c4d;
}

.image-position{
  position: relative;
  bottom: 30px;
  left: 50px;
  height: 50px;
  width: auto;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  /*line-height:1.6;*/
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}



.footer-basic1 .copyright {
  margin-top:5px;
  text-align:center;
  font-size:13px;
  color: black;
  margin-bottom:0;
}
