.floating_content {
    position: relative;
    display: inline-table;
    width: 90%;
    min-width: 150px;
    text-align: left;
    margin: 10px;
    padding: 10px;
    background: rgba(76, 166, 89, 0.05);
}

.floating_content video {
/*    max-height: 200px; */
    max-width: 300px;
    background: #000;
}

.bigger img {
    max-height: 300px;
    max-width: 300px;
}
.floating_image img {
    max-height: 150px;
}
