body {
    font-family: Verdana, sans-serif;
    /*border-radius: 10px;*/
    margin: 0px;
    /* padding-bottom: 20px; */
    padding-top: 70px;
    min-height: 2000px;

}

html {
    background: #ffffff;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color:#4ca659;
}

.header{
    max-height: 200px;
    text-align:center;
    display:block;
}

.lijn{
    background-color: black;
}


.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}


.navbar-brand {
    left: 50px;
    top:5px;
    height: 45px;
    padding: 0px;
    position:absolute;
}

/*.fixed {
position: fixed;
}*/

.paddingpage {
    padding: 20px;
    /*background-color: #666666;*/

}

.headerImage{
    width: 100%;
    height: auto;
}

.info{
    margin-top: 5px;
/*
    border-style: solid;
    border-width: 1px;
*/
    text-align: center;
/*    border-color: black;*/
/*    color: white;*/
}

.info, .p{
    color: black;
    
}
.title{
    position: relative;
    bottom: 40px;
    font-family: "Didot, serif";
    font-size: 30px;
}

.blacktext {
    background-color: black;
}


.centerText{
    text-align: center;
}

.page {
    background: #ffffff;
    border-radius: 10px;
    padding: 1px;
    border: 1px solid black;
    min-height: calc(100vh - 40px);
}

.spacer {
    min-height: 150px;
}

.sliderContainer {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.buttonSmall {
    position: absolute;
    top: 175px;
    font-size: 40px;
    color: #000000;
}

/*
.buttonSmall img {
max-width: 40px;
max-height: 40px;
}
*/

.buttonLeft {
    left: 5px;
}

.buttonRight {
    right: 5px;
}

.hoverButtonLeft {
    width: 15px;
    height: 30px;
    opacity: 0.6;
    position: absolute;
    left: 5px;
    top: 185px;
    font-size: 30px;
    color: #999999;
}

.hoverButtonRight {
    width: 15px;
    height: 30px;
    opacity: 0.6;
    position: absolute;
    right: 5px;
    top: 185px;
    font-size: 30px;
    color: #999999;
    /*    pointer-events:none;*/
}

.hoverButtonRight:hover, .hoverButtonLeft:hover, .buttonSmall:hover, buttonSmall:hover {
    color: #f2f2f2;
}

.slider {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: calc(100% - 0px);
    text-align: center;
}

.dummyElement {
    min-width: 312px;
    height: 400px;
    display: inline-block;
}

.itemPart {

}

.left, .right {
    min-width: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
    margin-top: 15px;
    margin-bottom: 15px;
    max-height: 370px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.left {
    border-left: 1px solid black;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.right {
    border-right: 1px solid black;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.rightItems {
    width: 70px;
    margin: 15px;
    max-height: 100px;
    display: block;
    border: 1px solid grey;
}

.left {
    margin-left: 30px;
    background-color: white;
}

.right {
    margin-right: 30px;
    background-color: white;
}

.right img {
    margin: 10px;
}

.mid {
    position: relative;
    background-color: white;
    height: 400px;
    display: inline-block;
    min-width: 250px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid grey;
}

.mid img {
    /*padding-top: 10px;*/
    height: 400px;
    width: 250px;
    border-radius: 8px;
    object-fit:cover;
}

::-webkit-scrollbar {
    display: none;
}

@-moz-document url-prefix() {
    html,body{overflow: hidden !important;}
}

.navbar {
    margin-bottom: 20px;
    background-color: #fff;
}

#topnavbar {
    margin: 0;
}

#topnavbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}

/*
@media (min-width:768px){
.navbar-fixed-top {padding-right:0;padding-left:0}
}
.navbar-fixed-top {max-height:340px}
@media (max-device-width:480px) and (orientation:landscape){
.navbar-fixed-top {max-height:200px}
}
.navbar-fixed-top{position:fixed;right:0;left:0;z-index:1030}
@media (min-width:768px){
.navbar-fixed-top{border-radius:0}
}
.navbar-fixed-top{top:0;border-width:0 0 1px}*/
